<template>
    <v-app>
        <v-card class="overflow-hidden" tile>
            <app-bar-component v-bind:drawer="drawer"/>
            <v-navigation-drawer
                :value="drawer"
                absolute
                temporary
            >
                <v-list
                    nav
                    dense
                >
                    <v-list-item-group
                        active-class="deep-purple--text text--accent-4"
                    >
                        <v-list-item @click="$router.push({name:'home'})">
                            <v-list-item-icon>
                                <v-icon>mdi-home</v-icon>
                            </v-list-item-icon>
                            <v-list-item-title>Home</v-list-item-title>
                        </v-list-item>

                        <v-list-item v-if="signIn" @click="$router.push({name:'projects'})">
                            <v-list-item-icon>
                                <v-icon>mdi-account</v-icon>
                            </v-list-item-icon>
                            <v-list-item-title>Projects</v-list-item-title>
                        </v-list-item>

                    </v-list-item-group>
                </v-list>
            </v-navigation-drawer>
            <v-sheet
                id="scrolling-techniques-2"
                class="overflow-y-auto"
                max-height="100vh"
            >
                <v-content style="height: 100vh">
                    <v-container v-bind:style="{marginTop : contentMargin+'px'}">
                        <router-view>
                        </router-view>
                    </v-container>
                </v-content>
            </v-sheet>
        </v-card>
    </v-app>
</template>

<script>
    import AppBarComponent from "./components/AppBarComponent";
    import {mapState} from 'vuex';

    export default {
        name: "App",
        components: {AppBarComponent},
        data() {
            return {
                contentMargin: this.signIn ? 257 : 150,
            }
        },
        computed: {
            ...mapState(['signIn', 'drawer']),
        },
        created() {
            this.$store.commit('updateSignIn', this.$auth.check() || this.$router.currentRoute.path === '/');
            this.contentMargin = this.signIn ? 257 : 150;
            this.$router.beforeEach((to, from, next) => {
                this.$store.commit('updateSignIn', this.$auth.check() || to.path === '/');
                this.contentMargin = this.signIn ? 257 : 150;
                next();
            })
            //this.$vuetify.theme.dark = true
        },
        methods: {}
    }
</script>

<style scoped>

</style>
