<template>
    <v-form
        ref="form"
        lazy-validation
        method="post"
        @submit.prevent="login"
    >
        <v-card ref="form">
            <v-system-bar></v-system-bar>
            <v-toolbar flat>
                <v-toolbar-title>Sign In</v-toolbar-title>
                <v-spacer></v-spacer>
                <div>
                    <v-btn
                        text
                        color="deep-purple accent-4"
                        @click="$router.push('/register')"
                    >Register
                    </v-btn>
                </div>
            </v-toolbar>
            <v-card-text>
                <v-text-field type="email" id="email" placeholder="user@example.com" v-model="email"
                              required label="Email" autocomplete="email"/>
                <v-text-field type="password" id="password" v-model="password" required
                              label="Password" autocomplete="current-password"/>
            </v-card-text>
            <v-divider class="mt-6"></v-divider>
            <v-card-actions>
                <v-btn type="submit" class="btn btn-default" color="indigo">Sign in</v-btn>
            </v-card-actions>
        </v-card>
    </v-form>
</template>
<script>
    export default {
        nama: "Login",
        data() {
            return {
                email: null,
                password: null,
                error: false
            }
        },
        methods: {
            login() {
                var app = this
                this.$http.post
                this.$auth.login({
                    body: {
                        email: app.email,
                        password: app.password
                    },
                    success: function () {
                        console.log(this.$auth.user())
                    },
                    error: function (err) {
                        console.log(err)
                    },
                    rememberMe: true,
                    redirect: '/',
                    fetchUser: true,
                }).then((user) => {
                    console.log(this.$auth.user())
                });
            },
        }
    }
</script>
