<template>
    <v-form
        ref="form"
        lazy-validation
        @submit.prevent="register"
        method="post"
    >
        <v-card ref="form">
            <v-system-bar></v-system-bar>
            <v-toolbar flat>
                <v-toolbar-title>Register</v-toolbar-title>
                <v-spacer></v-spacer>
                <div>
                    <v-btn
                        text
                        color="deep-purple accent-4"
                        @click="$router.push('/login')"
                    >Login
                    </v-btn>
                </div>
            </v-toolbar>
            <v-card-text>
                <div class="alert alert-danger" v-if="error && !success">
                    <p>There was an error, unable to complete registration.</p>
                </div>
                <div class="alert alert-success" v-if="success">
                    <p>Registration completed. You can now
                        <router-link :to="{name:'login'}">sign in.</router-link>
                    </p>
                </div>
                <v-content>
                    <v-text-field
                        v-model="name"
                        :counter="10"
                        label="Name"
                        required
                        v-bind:class="{ 'has-error': error && errors.name }"
                    />
                    <span class="help-block" v-if="error && errors.name">{{ errors.name }}</span>
                    <v-text-field
                        v-model="email"
                        label="Email"
                        required
                        placeholder="user@example.com"
                        type="email"
                        v-bind:class="{ 'has-error': error && errors.email }"
                    />
                    <span class="help-block" v-if="error && errors.email">{{ errors.email }}</span>
                    <v-text-field
                        v-model="password"
                        label="Password"
                        required
                        type="password"
                        v-bind:class="{ 'has-error': error && errors.password }"
                    />
                    <span class="help-block" v-if="error && errors.password">{{ errors.password }}</span>
                </v-content>
            </v-card-text>
            <v-divider class="mt-6"></v-divider>
            <v-card-actions>
                <v-btn type="submit" class="btn btn-default" color="indigo">Submit</v-btn>
            </v-card-actions>
        </v-card>
    </v-form>
</template>
<script>
    export default {
        name: "Register",
        data() {
            return {
                name: '',
                email: '',
                password: '',
                error: false,
                errors: {},
                success: false
            };
        },
        methods: {
            register() {
                var app = this
                this.$auth.register({
                    data: {
                        name: app.name,
                        email: app.email,
                        password: app.password
                    },
                    success: function () {
                        app.success = true
                    },
                    error: function (resp) {
                        app.error = true;
                        app.errors = resp.response.data.errors;
                    },
                    redirect: null
                });
            }
        }
    }
</script>
