<template>
    <v-app-bar
        absolute
        color="#6A76AB"
        dark
        shrink-on-scroll
        prominent
        src="https://picsum.photos/1920/1080?random"
        scroll-target="#scrolling-techniques-2"
        fade-img-on-scroll
        scroll-threshold="500"
    >
        <template v-slot:img="{ props }">
            <v-img
                v-bind="props"
                gradient="to top right, rgba(100,115,201,.7), rgba(25,32,72,.7)"
            ></v-img>
        </template>

        <v-app-bar-nav-icon @click="$store.commit('updateDrawer')"></v-app-bar-nav-icon>

        <v-toolbar-title>{{app_name}}</v-toolbar-title>

        <v-spacer></v-spacer>

        <v-btn icon>
            <v-icon>mdi-magnify</v-icon>
        </v-btn>

        <v-btn icon>
            <v-icon>mdi-heart</v-icon>
        </v-btn>

        <v-menu
            bottom
            left
        >
            <template v-slot:activator="{ on }">
                <v-btn
                    icon
                    color="yellow"
                    v-on="on"
                >
                    <v-icon>mdi-dots-vertical</v-icon>
                </v-btn>
            </template>

            <v-list>
                <v-content v-if="!$auth.check()">
                    <v-list-item @click="$router.push('/login')">
                        <v-list-item-title>Login</v-list-item-title>
                    </v-list-item>
                    <v-list-item @click="$router.push('/register')">
                        <v-list-item-title>Register</v-list-item-title>
                    </v-list-item>
                </v-content>
                <v-content v-if="$auth.check()">
                    <v-list-item @click="$auth.logout()">
                        <v-list-item-title>Logout</v-list-item-title>
                    </v-list-item>
                </v-content>
            </v-list>
        </v-menu>

        <template v-slot:extension v-if="signIn">
            <v-tabs align-with-title v-model="activeTab">
                <v-tab @click="$router.push('/')">Designer</v-tab>
                <v-tab @click="$router.push({name:'projects'}).catch((err)=>{})">Projects
                </v-tab>
                <v-tab @click="">Users</v-tab>
            </v-tabs>
        </template>
    </v-app-bar>
</template>

<script>
    import {mapState} from 'vuex'

    export default {
        name: "AppBarComponent",
        data() {
            return {
                app_name: process.env.MIX_APP_NAME,
                activeTab: null
            }
        },
        computed: {
            ...mapState(['signIn', 'drawer']),
        },
        created() {
        },
        methods: {},
    }
</script>

<style scoped>

</style>
