<template>
    <v-content>
        <v-card flat>
            <v-toolbar
                color="primary"
                dark
                extended
                flat
                class="mb-3 mt-4"
            >
                <v-content>
                    <v-btn color="success" class="mr-2" ref="importButtonText" @click="$refs.fileInput.click()">Load
                    </v-btn>
                    <input hidden ref="fileInput" type="file" accept=".axml,.xaml,application/xml"
                           @change="readXML">
                    <v-btn color="" @click="exportXML">
                        <v-icon>mdi-download</v-icon>
                        Export
                    </v-btn>
                </v-content>
            </v-toolbar>

            <v-card
                class="mx-auto"
                max-width="700"
                style="margin-top: -64px;"
            >
                <v-toolbar flat>
                    <v-toolbar-title class="grey--text">{{fileName}}</v-toolbar-title>
                    <v-spacer></v-spacer>
                    <draggable
                        @start="log"
                        :clone="cloneDog"
                        :list="tools"
                        :group="{ name: 'engine', pull: 'clone', put: false }"
                        @end="log"
                    >
                        <v-btn icon v-for="(item,index) in tools" :key="index">
                            <v-icon>{{item.icon}}</v-icon>
                        </v-btn>
                    </draggable>
                </v-toolbar>
                <v-divider></v-divider>
                <v-card-text style="min-height: 50vh;" ref="targetDnD">
                    <draggable group="engine"
                               :list="xmlObj.ContentPage[0][xmlObj.ContentPage[0].xtag]"
                               @change="log"
                               class="d-flex flex-column align-items-center"
                               v-bind:class="startDrag ? 'dragArea' : ''"
                    >
                        <div v-for="item in xmlObj? xmlObj.ContentPage[0][xmlObj.ContentPage[0].xtag]: xmlObj">
                            <label @dblclick="item.edit = true"
                                   v-show="item.edit === false"
                                   v-if="item.xtag==='Label'">
                                <h1>{{item.Text}}</h1>
                            </label>
                            <v-btn @dblclick="item.edit = true"
                                   v-on:click="item.edit = true"
                                   v-show="item.edit === false"
                                   v-if="item.xtag==='Button'"
                                   class="mb-2">
                                {{item.Text}}
                            </v-btn>
                            <v-text-field v-show="item.edit === true"
                                          v-model="item.Text"
                                          v-on:blur="item.edit=false; $emit('update')"
                                          @keyup.enter="item.edit=false; $emit('update')"
                                          solo
                                          single-line
                                          hint="change text"
                                          @change="item.Text ? item.Text : item.Text='text'"
                            />
                        </div>
                    </draggable>
                </v-card-text>
            </v-card>
        </v-card>
        <!--<div id="editor" style="height: 100vh;">
            <textarea :value="input" @input="update"></textarea>
            <div v-html="compiledMarkdown"></div>
        </div>-->
    </v-content>
</template>

<script>
    import marked from "marked";
    import _ from "lodash";
    import draggable from "vuedraggable";
    import {export_raw, JsonToXml, preProcess, xmlDomToJson} from "../lib/Convert";

    export default {
        components: {
            draggable,
        },
        name: "EditorComponent",
        data() {
            return {
                input: "# hello",
                xmlObj: null,
                fileName: 'load file...',
                dragOffsetX: null,
                dragOffsetY: null,
                //elms: [],
                tools: [{type: 'text', icon: 'mdi-format-text'},
                    {type: 'btn', icon: 'mdi-gesture-tap-button'}],
                startDrag: false,
                defaultXML: {
                    'xtag': "ContentPage",
                    'xmlns': "http://xamarin.com/schemas/2014/forms",
                    'xmlns:x': "http://schemas.microsoft.com/winfx/2009/xaml",
                    'xmlns:d': "http://xamarin.com/schemas/2014/forms/design",
                    'xmlns:mc': "http://schemas.openxmlformats.org/markup-compatibility/2006",
                    'mc:Ignorable': "d",
                    'x:Class': "test.MainPage",
                    'ContentPage': [
                        {
                            'xtag': "StackLayout",
                            'StackLayout': []
                        }
                    ]
                },
            }
        },
        created() {
            this.xmlObj = this.defaultXML;
        },
        computed: {
            cursor() {
                return `cursor: ${this.dragOffsetX ? 'grabbing' : 'grab'}`
            },
            compiledMarkdown: function () {
                return marked(this.input);
            },
        },
        methods: {
            update: _.debounce(function (e) {
                this.input = e.target.value;
            }, 300),

            readXML() {
                let reader = new FileReader();
                let fileDom = this.$refs.fileInput;

                this.fileName = fileDom.files[0].name;

                reader.readAsText(fileDom.files[0]); //read as string
                //when the reading process is over , callback:
                let that = this;
                reader.onload = function () {
                    let domParser = new DOMParser();
                    let xmlDom = domParser.parseFromString(reader.result, 'application/xml');
                    preProcess(xmlDom);
                    that.xmlObj = xmlDomToJson(xmlDom.childNodes[0]);
                    //that.elms = [];
                    /*if (that.xmlObj.ContentPage && that.xmlObj.ContentPage.length > 0) {
                        that.xmlObj.ContentPage[0][that.xmlObj.ContentPage[0].xtag]
                            .forEach((elm) => {
                                elm.edit = false;
                            });
                    }*/
                }
            },
            exportXML() {
                //this.xmlObj.ContentPage[0][this.xmlObj.ContentPage[0].xtag] = this.elms;
                let result = this.xmlObj;
                let parser = new JsonToXml();
                result = parser.parse(result);
                export_raw('updated_' + this.fileName, result);
                //console.log(result.ContentPage[0][result.ContentPage[0].xtag]);
            },
            log(evt) {
                this.startDrag = evt.type === "start";
                //console.log(this.xmlObj)
            },
            cloneDog({type}) {
                if (type === 'text')
                    return {xtag: "Label", Text: 'test', Label: [], HorizontalOptions: "Center", edit: false};
                return {xtag: "Button", Text: 'test', Button: [], edit: false};
            }
        }
    }
</script>

<style scoped>
    .dragArea {
        outline: 1px dashed;
    }

    #editor {
        margin: 0;
        font-family: "Helvetica Neue", Arial, sans-serif;
        color: #333;
    }

    textarea,
    #editor div {
        display: inline-block;
        width: 49%;
        min-height: 450px;
        vertical-align: top;
        box-sizing: border-box;
        padding: 0 20px;
    }

    textarea {
        border: none;
        border-right: 1px solid #ccc;
        resize: none;
        outline: none;
        background-color: #f6f6f6;
        font-size: 14px;
        font-family: "Monaco", courier, monospace;
        padding: 20px;
    }

    code {
        color: #f66;
    }
</style>
