<template>
    <v-card>
        <v-card-title>
            Projects
            <v-spacer></v-spacer>
            <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                label="Search"
                single-line
                hide-details
            ></v-text-field>
        </v-card-title>
        <v-data-table
            :headers="headers"
            :items="projects"
            :search="search"
            :single-expand="true"
            show-expand
        >
            <template v-slot:top>
                <v-toolbar flat color="white">
                    <v-spacer></v-spacer>
                    <v-dialog v-model="dialog" max-width="500px">
                        <template v-slot:activator="{ on }">
                            <v-btn color="primary" dark class="mb-2" v-on="on">New Item</v-btn>
                        </template>
                        <v-card>
                            <v-card-title>
                                <span class="headline">{{ formTitle }}</span>
                            </v-card-title>
                            <v-card-text>
                                <v-container>
                                    <v-row>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-text-field v-model="editedItem.name" label="Project name"></v-text-field>
                                        </v-col>
                                    </v-row>
                                </v-container>
                            </v-card-text>

                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
                                <v-btn color="blue darken-1" text @click="save">Save</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-toolbar>
            </template>
            <template v-slot:item.actions="{ item }">
                <v-icon
                    small
                    class="mr-2"
                    @click="editItem(item)"
                >
                    mdi-pencil
                </v-icon>
                <v-icon
                    small
                    @click="deleteItem(item)"
                >
                    mdi-delete
                </v-icon>
            </template>
            <template v-slot:no-data>
                <v-btn color="" @click="initialize">Reset</v-btn>
            </template>
            <template v-slot:expanded-item="{ headers, item }">
                <td :colspan="headers.length">You have user {{ item.pivot ? item.pivot.user_id: '' }} on this project
                </td>
            </template>
        </v-data-table>
    </v-card>
</template>

<script>
    import {mapState} from "vuex";

    export default {
        name: "ProjectIndexComponent",
        data() {
            return {
                dialog: false,
                search: '',
                headers: [
                    {
                        text: 'Name (project)',
                        align: 'start',
                        value: 'name',
                    },
                    {text: 'Actions', value: 'actions', sortable: false},
                    {text: '', value: 'data-table-expand'},
                ],
                editedIndex: -1,
                editedItem: {
                    name: '',
                },
                defaultItem: {
                    name: '',
                    pivot: {user_id: this.$auth.user.id}
                },
            }
        },
        computed: {
            ...mapState(['projects']),
            formTitle() {
                return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
            },
        },
        watch: {
            dialog(val) {
                val || this.close()
            },
        },
        created() {
            this.initialize();
        },
        methods: {
            editItem(item) {
                this.editedIndex = this.projects.indexOf(item)
                this.editedItem = Object.assign({}, item)
                this.dialog = true
            },
            deleteItem(item) {
                const index = this.projects.indexOf(item)
                if (confirm('Are you sure you want to delete this item?')) {
                    this.$http.delete(`projects/${this.projects[index].id}`)
                        .then(() => {
                            this.projects.splice(index, 1)
                        })
                }
            }, close() {
                this.dialog = false
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem)
                    this.editedIndex = -1
                }, 300)
            },
            save() {
                if (this.editedIndex > -1) {
                    this.$http.put(`projects/${this.projects[this.editedIndex].id}`, this.editedItem)
                        .then(() => {
                            Object.assign(this.projects[this.editedIndex], this.editedItem)
                        })
                } else {
                    this.$http.post('projects', this.editedItem)
                        .then(() => {
                            this.projects.push(this.editedItem)
                        })
                }
                this.close()
            },
            initialize() {
                this.$http.get('projects')
                    .then(response => {
                        this.$store.commit('setProjects', response.data);
                    })
            }
        }
    }
</script>

<style scoped>

</style>
